*{
    margin:0%;
    padding:0%;
}
body{
  background-size:100% 100%
}
.main2{
	background-color:white;
	height:50%;
	width:25%;
    padding-top:0em;
    border:10px solid black;
    border-radius:15px 15px 15px 15px;
    margin-top:10%;
    margin-left:35%; 
     
}
table{
    padding-left: 60px;
    padding-top: 0px;
    margin-top:10%;
   
}
input{
    width: 15.7em;  height: 2.5em;
    border-radius:5px 5px 5px 5px;
border-color: firebrick;
}
input:hover{
    border-color: cornflowerblue;
}
input.login{
    width: 15.7em;  height: 2.5em;
    
}
.login:hover{
    background-color: lightsteelblue;
}

td{
	padding-top:2px;
	padding-bottom: 0px;
}
tr.cen{
    text-align: left;
}
#link{
    text-decoration: none;
    color:red;
}
#link:hover{
    border: 0px solid white;
    color: steelblue;
    background-color: white;
}
tr.text{
    font-size:.8em;
    padding:0px;
    margin:0px;
}