*{
    margin:0%;
    padding:0%;
}
body{
  background-size:100% 100%
}
.main2{
	background-color:white;
	height:63%;
	width:25%;
    padding-top:2em;
    border:10px solid black;
    border-radius:15px 15px 15px 15px;
    margin-top:4%;
    margin-left:35%; 
    padding-left: 20px;
     
}
table{
    padding-left: 60px;
    padding-top: 0px;
    margin-top:10%;
   
}
input{
    width: 15.7em;  height: 2.5em;
    border-radius:5px 5px 5px 5px;
border-color: firebrick;
}
input:hover{
    border-color: cornflowerblue;
}
td{
	padding-top:2px;
	padding-bottom: 0px;
}
tr.cen{
    text-align: left;
}
tr.text{
    font-size:.8em;
    padding:0px;
    margin:0px;
}